// NAVBAR
.navigation {
  display: block;
  height: 100px;
  width: 100%;
  background: white;
  color: $purple;
}

.navigation-tabs {
  position: absolute;
  display: inline-block;
  left: 450px;
  margin: 35px 60px 0px 0px;
  width: 1000px;
  .active {
    .navigation-tabs__tab{
      color: $purple !important;
      border-bottom: 1px solid $purple;
    }
  }
  &__tab {
    color: $light-gray;
    font-size: 20px;
    display: inline-block;
    margin-right: 80px;
    text-align: center;
    i {
      padding-left: 5px;
    }
  }
}

// LOGO
.badass-logo {
  position: absolute;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  margin-left: 50px;
  margin-top: 20px;
  color: $purple;
  font-weight: 100;
  font-size: 40px;
}

// SIDEBAR
.sidebar {
  position: absolute;
  display: block;
  height: 100%;
  width: 400px;
  background: $panel-gray;
}

.profile-information {
  &__picture {
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  &__label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
  }

  &__name {
    color: $panel-text;
    margin-top: 30px;
    font-size: 20px;
  }

  &__role {
    font-size: 16px;
  }

  &__attributes {
    color: $panel-text;
    font-weight: 700;
    margin-top: 30px;
  }

  &__age,
  &__bmi,
  &__refills {
    margin-left: 18%;
    display: inline-block;
    text-align: center;
  }
}

.medical-information {
  margin-top: 30px;
  margin-left: 18%;
  font-weight: 700;
  &__physician,
  &__conditions {
    color: $panel-text;
    margin-top: 10px;
  }

  &__label {
    margin-top: 30px;
  }
}

// PAGE-CONTAINER
.overview-container {
  display: block;
  margin-left: 400px;
  height: calc(100% - 100px);
}

// APPOINTMENTS
.appointment-navbar {
  margin-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: 1px $dark-gray solid;
  &__container {
    display: inline-block;
    color: $panel-gray;
    margin-right: 30px;

    &__icon {
      height: $icon-height;
      width: $icon-height;
      text-align: center;
      line-height: $icon-height;
      font-size: 25px;
      color: $panel-gray;
      border: solid $panel-gray 2px;
      border-radius: 50%;
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: -20px;
      span {
        text-align: center;
      }
    }
  }
}

.appointment-details {
  width: 100%;
  margin-left: 30px;
  margin-top: 30px;

  &__picture {
    display: inline-block;

    img {
      border-radius: 50%;
      height: 150px;
    }
  }

  &__text {
    display: inline-block;
    margin-left: 10px;
    vertical-align: 190%;
  }

  &__date {
    font-size: 20px;
    color: $dark-gray;
  }

  &__physician,
  &__time {
    color: $panel-gray;
  }
}

// GREETING
.overview {
  &__greeting {
    margin-top: 20%;
    font-weight: 100;
    font-size: 60px;
    color: $panel-gray;
    text-align: center;
  }

  &__question {
    font-weight: 100;
    font-size: 30px;
    color: $panel-gray;
    text-align: center;
  }
}

// RX
.rx {
  &__request {
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    margin-top: 20%;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
