.navigation {
  display: block;
  height: 100px;
  width: 100%;
  background: white;
  color: $purple;
}

.navigation-tabs {
  position: absolute;
  display: inline-block;
  right: 0px;
  margin: 35px 60px 0px 0px;
  width: 1000px;
  .active {
    .navigation-tabs__tab{
      color: $purple !important;
      border-bottom: 3px solid $purple;
    }
  }
  &__tab {
    color: $light-gray;
    font-size: 20px;
    display: inline-block;
    margin-right: 80px;
    text-align: center;
    i {
      padding-left: 5px;
    }
  }
}
